<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- produtos -->
    <section class="home">
        <header>
            <div class="topo">
                <span class="menu">☰</span>
                <h2>Fru Fru da Lara</h2>
            </div>

            <div class="busca">
                <input type="text" placeholder="Buscar">
            </div>

            <nav>
                <a href="#">INFANTIL</a>
                <a href="#">TIMES</a>
                <a href="#">TAPETES</a>
            </nav>
        </header>

        <main>
            <h3>Destaques</h3>
            <div class="destaques">
                <div>Tapete de cozinha</div>
                <div>Tapetes para banheiro</div>
                <div>Almofadas</div>
            </div>

            <h3>Produtos</h3>
            <div class="produtos">
                <div>Almofadas</div>
                <div>Tapetes personalizados</div>
                <div>Tapete infantil do bob esponja </div>
            </div>
        </main>
    </section>

</body>
</html>