<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fru Fru da Lara</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- login -->
    <section class="login">
        <h1>Fru Fru da Lara</h1>

        <form>
            <label>Email</label>
            <input type="email">

            <label>Senha</label>
            <input type="password">

            <button class="entrar">ENTRAR</button>
            <button class="cadastro">SE CADASTRAR</button>

            <a href="#">Esqueceu a senha?</a>
        </form>
    </section>
</body>
</html>
