{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre a Lara - Fru Fru da Lara</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/sobre.css' %}">
</head>
<body>

    <div class="app-screen">
        <a href="#" class="back-link">←</a>

        <div class="header-area">
            <div class="logo-container">
                <img src="{% static 'frufrudalara/img/imgg.png' %}" alt="">
                </div>
            </div>
        </div>

        <main class="content-area">
            <h2 class="section-title">Sobre a Lara</h2>
            
            <div class="text-block">
                <p>Bem-vindo à nossa loja! A marca nasceu da paixão pela costura e do desejo de levar mais conforto para os lares através de tapetes de frufru de alta qualidade.</p>
                
                <p>A produção é liderada pela Maria (conhecida carinhosamente como Lara), uma costureira de 35 anos nascida em Natal, Rio Grande do Norte. Com uma experiência sólida de dois anos de vendas e contato direto com o público na feira local, a Lara transformou seu talento em um negócio focado em evolução constante e excelência no acabamento.</p>
                
                <p>Nosso compromisso vai além da beleza das peças. Garantimos uma compra 100% segura, atendimento transparente e produtos duráveis, feitos com dedicação para transformar o seu ambiente.</p>
            </div>
        </main>

        <div class="dots-container">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>

        <div class="deco-circle deco-left"></div>
        <div class="deco-circle deco-right"></div>
    </div>

</body>
</html>
