{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - Fru Fru da Lara</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <section class="sobre">

        <header class="topo-sobre">
            <span class="menu">☰</span>
            <h2>Fru Fru da Lara</h2>
        </header>

        <main class="conteudo-sobre">
            <h1>Sobre Nós</h1>

            <div class="logo-box">
            
            </div>

            <p>
                A <strong>Fru Fru da Lara</strong> é uma loja especializada em
                tapetes artesanais
                <br> 
                feitos com carinho, dedicação e atenção aos detalhes.
                
            </p>

            <p>
                Produzimos tapetes para banheiro, cozinha, quartos infantis
                e modelos personalizados para atender o gosto de cada cliente.
            </p>

            <p>
                Também trabalhamos com <strong>encomendas personalizadas</strong>,
                permitindo que o cliente escolha tamanho, cores e modelos.
            </p>

            <p>
                Realizamos vendas para <strong>todo o Brasil</strong>, oferecendo
                atendimento de qualidade e produtos feitos à mão com muito amor.
            </p>

            <button>Fale Conosco</button>
        </main>

    </section>

</body>
</html>
<head>
    <meta charset ="UTF-8">
    <title>sobre - frufrudalara</title>
    <style>
</head>
p{
    text-indent: 30px;
}
h1{ 

    color:#ff69b4
    
 .logo-box{
    width: 200px;
    height: 200px;

    }