{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fru Fru Da Lara</title>

    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>

<header>

    <div class="menu">
        ☰ <span>Menu</span>
    </div>

    <div class="logo">
        <h1>Fru Fru Da Lara</h1>
        <h2>Tapetes</h2>
    </div>

    <div class="carrinho">
        🛒
    </div>

</header>

<div class="pesquisa">
    <input type="text" placeholder="Pesquisar">
</div>

<nav class="menu-links">
    <a href="#">INÍCIO</a>
    <a href="#">CATEGORIAS</a>
    <a href="#">SOBRE NÓS</a>
    <a href="#">COMO COMPRAR</a>
</nav>

<section class="banner">
    <img src="{% static 'img/Rectangle 3.png' %}" alt="">
</section>

<h2 class="titulo">Destaques</h2>

{% load static %}

<div class="produtos">

    <div class="produto">
        <img src="{% static 'frufrudalara/img/img14.png' %}" alt="">
        <h3>Tapete Flor Mostarda</h3>
        <p>R$ 150,00</p>
        <button>Comprar</button>
    </div>

    <div class="produto">
        <img src="{% static 'frufrudalara/img/img13.png' %}" alt="">
        <h3>Tapete Flor Lilás</h3>
        <p>R$ 150,00</p>
        <button>Comprar</button>
    </div>

    <div class="produto">
        <img src="{% static 'frufrudalara/img/img12.png' %}" alt="">
        <h3>Passadeira Flores Azul</h3>
        <p>R$ 180,00</p>
        <button>Comprar</button>
    </div>

    <div class="produto">
        <img src="{% static 'frufrudalara/img/imagem.png' %}" alt="">
        <h3>Passadeira Azul Claro</h3>
        <p>R$ 180,00</p>
        <button>Comprar</button>
    </div>

</div>

</body>
</html>